pulse*
asdf-direnv
autostart
BetterDiscord
discord
Code
direnv
fontconfig
gtk*
KDE
kdedefaults
kde.org
plasma*
spotify
session
*rc
QtProject.conf
Trolltech.conf
user*
starship.toml
kwin*
kcmfonts
konsole*
kde* 
Mullvad*
libaccounts-glib
mimeapps.list
